<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.truehhart.slowed-and-reverb</string>
	<key>CFBundleName</key>
	<string>Slowed and Reverb</string>
	<key>CFBundleDisplayName</key>
	<string>Slowed and Reverb</string>
	<key>CFBundleExecutable</key>
	<string>SlowedAndReverb</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>0.0.0</string>
	<key>CFBundleVersion</key>
	<string>0.0.0</string>
	<key>CFBundleIconFile</key>
	<string>icon</string>
	<key>LSMinimumSystemVersion</key>
	<string>15.0</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>SUFeedURL</key>
	<string>https://github.com/truehhart/slowed-and-reverb/releases/latest/download/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string></string>
	<key>SUEnableAutomaticChecks</key>
	<true/>
</dict>
</plist>
